<h2>Creating a page!</h2>
<h4>To continue, start typing in the box below</h4>
<form action="/notes" method="POST">
  <p>Topic: <input type="text" name="topics"></p>
  <p>Description: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
