<p><%= @note.topics %>
<p><%= @note.content %>


<form method="post" action="/note/<%=@note.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Content">
</form>

<a href="/note/<%=@note.id%>/edit">Edit Contents </a>