<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">SurgiApp</a>
  </div>
</nav>

<div id="main-container" class="container">
  <br><br><br><br><br>
  <h3>Log in</h3><br>


  <form action="/login" method="POST">
    
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="pluserbox" class="input-group-text" id="inputGroup-sizing-default">Username</label>
        </div>
        <input type="text" name="username" id="pluserbox" class="form-control">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="plpassbox" id="inputGroup-sizing-default">Password</label>
        </div>
        <input type="text" name="password" id="plpassbox" class="form-control">
    </div>
    
    <button class="btn btn-lg btn-primary" type="submit">Submit</button>

  </form>
</div>



